body {
    background-color: rgb(129, 125, 125);
    background-size: cover;
    padding-top: 70px;
}

p, .lead{
    font-weight: 700;
    font-size:  20px;
}


.colorChangingP {
    color: rgb(240, 26, 26);
}

.demo-wrap {
    position: relative;
}

.demo-bg {
    opacity: 0.2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: inherit;
}

.demo-content {
    position: relative;
}